html {
  font-size: 10px;
  font-family: sans-serif;
  color: #424242;
}

h1 {
  font-family: "billabong";
  text-align: center;
  font-size: 13rem;
  font-weight: 100;
  margin: 2rem 0;
  letter-spacing: -1;
  color: black;
}

h1 a {
  color: black;
  text-decoration: none;
}

p {
  font-size: 1.6rem;
  line-height: 1.5rem;
}

body {
  background: offwhite;
}

@font-face {
  font-family: "billabong";
  src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot");
  src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff")
      format("woff"),
    url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf")
      format("truetype"),
    url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular")
      format("svg");
}

.photo-grid {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.figures {
  flex-basis: scalc(33.333% - 4rem);
  border: 2px solid #d3d3d3;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 2rem;
  flex-grow: 1;
  margin: 0 2rem 2rem 2rem;
}

.photo {
  width: calc(100% + 4rem);
  margin: -2rem 0rem 0rem -2rem;
  max-width: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.button-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-button {
  flex-basis: 48%;
  color: white;
  background-color: darksalmon;
  font-size: 16px;
  border: 2px solid #f2f2f2;
  border-radius: 20px;
  line-height: 2;
  padding: 5px;
  cursor: pointer;
  text-align: center;
}

.remove-button:hover {
  background: #424242;
}

.button {
  flex-basis: 48%;
  color: white;
  background-color: #d3d3d3;
  font-size: 16px;
  border: 1px solid darksalmon;
  border-radius: 20px;
  line-height: 2;
  padding: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background: #424242;
}

.add-icon {
  text-align: center;
  text-decoration: none;
  margin: 20px auto;
  display: table;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid rgb(254, 193, 187);
  color: white;
  background-color: darksalmon;
  font-size: 70px;
}

.form {
  background: darksalmon;
  margin: 0 auto;
  max-width: 360px;
  padding: 45px;
  text-align: center;
}

.form input {
  font-family: monospace;
  font-size: 14px;
  background: #f2f2f2;
  width: 100%;
  border: none;
  padding: 15px;
  box-sizing: border-box;
  margin: 0 0 15px;
}

.form button {
  flex-basis: 48%;
  box-sizing: border-box;
  width: 100%;
  color: darksalmon;
  background: white;
  font-size: 16px;
  border: 2px solid #f2f2f2;
  border-radius: 20px;
  line-height: 2;
  padding: 5px;
  cursor: pointer;
}

.form button:hover {
  background: #424242;
}

.single-photo {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(33.333% - 4rem);
  margin: 0 2rem 2rem 2rem;
  padding: 2rem;
  border: 2px solid #d3d3d3;
  border-radius: 12px;
  background-color: #fff;
  position: relative;
}

.comment {
  width: 100%;
}

.comment p {
  border-bottom: 2px solid #d3d3d3;
  padding: 0.5rem 0;
}

.comment-form {
  width: 100%;
  border: 0;
  font-size: 1.3rem;
  padding: 1rem 0;
  border-bottom: 2px solid #d3d3d3;
  outline: none;
  resize: vertical;
}

.comment-count {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.speech-bubble {
  background: url("https://d30y9cdsu7xlg0.cloudfront.net/png/51904-200.png")
    center no-repeat;
  background-size: contain;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  border: none;
  position: relative;
}
